<mat-horizontal-stepper labelPosition="bottom" linear #stepper>
    <mat-step>
        <ng-template matStepLabel>About</ng-template>

        <p>Welcome to RxJs Operators visualizer, here you can visualize RxJs operators in action with a beautiful design about pizza. I really hope you enjoy it because pixel art is not easy :)</p>

        <section>
            <h3>Objective:</h3>
            <p>
                I've created this web app to make the study of RxJs, used for NgRx (Angular) and react-redux (React/React-Native), more easy. Even for me, developing this visualizer should increase my 
                reactive development skills. I would be very happy if the web community join me in this adventure. 
                Feel free to help the visualizer grow, here you can access the <a href="">repository on github</a>.
            </p>
        </section>

        <section>
            <h3>About me:</h3>
            <p>
                My name is Giuseppe Matteoni, I'm a Full-Stack Developer living on São Paulo. My main stacks are HMTL, CSS, JS, Angular 4+, Java 8+, 
                Node 11+, React and React-Native. Feel free to conect with me on my <a href="https://www.linkedin.com/in/giuseppe-matteoni/">linkedin profile</a>.
            </p>
        </section>

    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Pipe Operator</ng-template>

        <p>The pipe operator will be used a lot in this visualizer, make sure to read the informations below and understand how <a href="https://rxjs.dev/api/index/function/pipe">Pipe Operator</a> and <a href="https://rxjs.dev/guide/v6/pipeable-operators">Pipeable Operators</a> works.</p>

        <section>
            <h3>Pipeable Operators:</h3>
            <p>
                The "pipeable" operators is the current and recommended way of using operators since RxJS 5.5. 
                The main difference is that it's easier to make custom operators and that it's better treeshakable 
                while not altering some global Observable object that could possible make collisions if two different parties 
                wanted to create an operator of the same name.
            </p>
            <h3>Pipe Operators:</h3>
            <p>
                The pipe operator can chain one or more functions creating a new observable. That way you can customize the way you are receiving that data.
            </p>
            <h4>How it works:</h4>
            <p>
                Lets imagine this case:
                    <br><br>
                        <span class="code">Observable.pipe(</span><br>
                        <span class="code">function1(),</span><br>
                        <span class="code">function2(),</span><br>
                        <span class="code">function3()</span><br>
                        <span class="code">)</span><br>
                    <br>
                function1() is going first, it will take the data, process it, modify its value (or not, depending on the operator) and passes it to function2() wich will do 
                the same thing until it reaches the last function inside the pipe(). Someone who wants to watch this Observable will receive the data manipulated by function 1(), 
                function2() and function3();
            </p>
        </section>

    </mat-step>
    <mat-step>
        <ng-template matStepLabel>How to use</ng-template>

        <section>
            <h3>Streams:</h3>
            <p>
                On the left corner of the website you should be able to see a big stream of pizza, the top square represents the last pizza generated by the kitchen. sometimes 
                another stream will show to you for some merge operators. 
            </p>
        </section>

        <section>
            <h3>Operators:</h3>
            <p>
                On the bottom-right corner you should see an pizza customer representing the rxjs operator. To subscribe into the stream you should click the button and wait for some interactions 
            </p>
        </section>

        <section>
            <h3>Code:</h3>
            <p>
                On the middle of the stream you shpul see the exact code used for the interaction, it will be shown as an image for better experience but you can find the code on the repository as well.
            </p>
        </section>

        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin-top: 10%;">
            <button mat-button matDialogClose>Get Started!</button>
        </div>

    </mat-step>
    <ng-template matStepperIcon="edit">
        <mat-icon>done</mat-icon>
    </ng-template>
  </mat-horizontal-stepper>
  
