<div *ngIf='!this.inIntro' class="container">
    <div class="pizzas">
        <div class="pizza-container">
            <div class="pizza">
                <img *ngIf='this.currentPizza' class="pizzaImg" [src]='this.currentPizza.imgBig' [alt]='this.currentPizza.flavor'>
                <mat-spinner [diameter]='140' [strokeWidth]='2' *ngIf='!this.currentPizza'></mat-spinner>
            </div>
            <div class="label">
                <span *ngIf='this.currentPizza'>Flavor:  {{this.currentPizza.flavor}}</span>
                <mat-spinner [diameter]='20' *ngIf='!this.currentPizza'></mat-spinner>
            </div>
            <div class="pizza-progress">
                <mat-progress-bar mode="buffer" [value]="this.progressbarValue"></mat-progress-bar>
            </div>
        </div>
        <div class="roller">
            <img class="pizzaHist" *ngFor='let pizza of pizzaAllYouCanEat$' [src]='pizza.img' [alt]='pizza.flavor'>
        </div> 
    </div>
    <div class="interaction">
        <div class="interaction-text">
            <p *ngIf='!this.showCode'>{{this.textToBeShown}}</p>
            <img *ngIf='this.showCode' [src]="this.imgSource">
        </div>
        <div class="interaction-button">
            <button *ngIf='!this.showCode' (click)='this.showCode = true;' mat-mini-fab color="primary">
                <mat-icon>code</mat-icon>
            </button>
            <button *ngIf='this.showCode' (click)='this.showCode = false;' mat-mini-fab color="primary">
                <mat-icon>chat</mat-icon>
            </button>
        </div>
    </div>
    <div class="avatar-container">
        <div class="operator-change">
            <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Change Operator</button>
                <mat-menu  yPosition="above" #menu="matMenu">
                <button (click)='this.changeOperator("Filter")' mat-menu-item>Filter</button>
                <button (click)='this.changeOperator("Tap")' mat-menu-item>Tap</button>
                <button (click)='this.changeOperator("Take")' mat-menu-item>Take</button>
                <button (click)='this.changeOperator("First")' mat-menu-item>First</button>
                <button (click)='this.changeOperator("Last")' mat-menu-item>Last</button>
                <button (click)='this.changeOperator("DebounceTime")' mat-menu-item>Debounce Time</button>
                <button (click)='this.changeOperator("TakeWhile")' mat-menu-item>Take While</button>
            </mat-menu> 
        </div>
        <div  class="avatar">
            <div class="avatarPizza">
                <img *ngIf='this.avatarPizza' class="pizzaImg" [src]='this.avatarPizza.imgBig' [alt]='this.avatarPizza.flavor'>
                <mat-spinner [diameter]='140' [strokeWidth]='2' *ngIf='!this.avatarPizza'></mat-spinner>
            </div>
            <img src="../../assets/avatar1.png" alt="Avatar">
            <div class="inner-avatar">
                <button (click)='this.avatarIn()' class="avatarIcon" mat-fab color="primary"><mat-icon>touch_app</mat-icon></button>
                <div class="avatar-label">
                    <span>{{this.selectedOperator}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

