*{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
}

.container{
    font-family: "Indie Flower";
    height: 90%;
}

.pizzas{
    position: absolute;
    left: 5%;
    top: 15%;
    display: flex;
    flex-direction: column; 
    width: 140px;
}

.pizza{
    width: 140px;
    height: 140px;
    border: navajowhite 2px solid;
    border-radius: 20%;
}

.label{
    background-color: navajowhite;
    border-radius: 6px;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: center;
    align-items: center;
    font-size: 14px;
    padding-left: 4%;
    padding-right: 5%;
    box-shadow: 10px 10px 16px -8px rgba(0,0,0,0.75);
}

.pizza-progress{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: center;
    align-items: center;
}

.pizza-container{
    display: flex;
    flex-direction: column-reverse;
}

.roller{
    display: flex;
    flex-direction: column;
    align-self: center;
    overflow: hidden;
}

.pizzaHist{
    width: 90px;
    height: 90px;
}

.pizzaImg{
    height: 140px;
    width: 140px;
}

.avatar{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.avatar > img{
    height: 20vh;
}

.avatarPizza{
    width: 140px;
    height: 140px;
    border: navajowhite 2px solid;
    border-radius: 20%;
}

.avatar-label{
    border-radius: 6px;
    background-color: navajowhite;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: center;
    align-items: center;
    font-size: 24px;
    padding-left: 4%;
    padding-right: 5%;
    box-shadow: 10px 10px 16px -8px rgba(0,0,0,0.75);
}

.avatarIcon{
    align-self: flex-start;
}

.interaction{
    position: absolute;
    width: 40vw;
    border: navajowhite 2px solid;
    border-radius: 20px;
    left: 30%;
    top: 25vh;
    display: flex;
    flex-direction: column;
    background-color: navajowhite;
    box-shadow: 10px 10px 66px 3px rgba(0,0,0,0.75);
}

.interaction-text{
    height: 90%;
    padding: 4%;
    overflow: hidden;
}

.interaction-text p {
  font-size: 20px;
}

.interaction-text img{
    width: 100%;
    height: 40%;
    border-radius: 10px;
}

.interaction-button{
    align-self: flex-end;
    margin-right: 1%;
    margin-bottom: 1%;
}

.avatar-container{
    position: absolute;
    right: 5vw;
    bottom: 5vh;
    width: 25vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
}

.inner-avatar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.drink-avatar{
    width: 55px;
    height: 55px;
    border: navajowhite 2px solid;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drink-avatar img{
    height: 50px;
    width: auto;
}