.customers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20%;
}
.customers-table{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60%;
}
.customer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.kitchen{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.icon{
    font-size: 40px;
    padding-right: 15px;
}
.table{
    width: 30%;
    height: 55%;
    border-radius: 30%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chairs{
    height: 80%;
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.chair{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
    height: 100%;
}
.buttonsTable{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    margin-bottom: 3%;
}
