.customers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20%;
}
.customers-table{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60%;
}
.customer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.kitchen{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner{
    border-radius: 20px;
    background-color: navajowhite;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0px 30px 0px 30px;
    box-shadow: 10px 10px 66px 3px rgba(0,0,0,0.75);
}
.icon{
    font-size: 40px;
    padding-right: 15px;
}
.table{
    width: 23%;
    height: 55%;
    border-radius: 20px;
    background-color: navajowhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 66px 3px rgba(0,0,0,0.75);
}
.chairs{
    height: 80%;
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.chair{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
    height: 100%;
}
.buttonsTable{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 3%;
}
.customers h4{
    background-color: navajowhite;
    border-radius: 20px;
    box-shadow: 10px 10px 16px -8px rgba(0,0,0,0.75);
    padding: 0px 8px 0px 8px;
}
